@font-face {
    font-family: "Neon V2";
    src: url("https://db.onlinewebfonts.com/t/1621a4e7a1b7ab08a993f1be8f2e6dad.woff2")format("woff2");
    font-display: block;
  }

  :root {
  
    --light-100: #ff9d00;
    --light-200: #00E7FF;
    --light-300: #A738D6;
    --light-400: #bb5de4;
    --light-500: #ffff94;
    --light-600: #035c65;
  }

.flash {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: var(--light-200);
    font-family: "Neon V2", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    margin-top: 80px;
}

.flash:hover {
    color: var(--light-600);
    background-color: var(--light-200);
    box-shadow: 0 0 10px var(--light-200), 0 0 40px var(--light-200), 0 0 80px var(--light-200) ;
    transition-delay: 1s;
}

.flash span {
    position: absolute;
    display: block;
}

.flash span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--light-200));
}

.flash:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

.flash span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--light-200));
}

.flash:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.flash span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--light-200));
}

.flash:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.flash span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--light-200));
}

.flash:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}